/* Colors */
:root {
  /* ### Primary */

  --Strong-cyan: hsl(172, 67%, 45%);

  /* ### Neutral */

  --Very-dark-cyan: hsl(183, 100%, 15%);
  --Dark-grayish-cyan: hsl(186, 14%, 43%);
  --Dark-grayish-cyan1: hsl(184, 14%, 56%);
  --Light-grayish-cyan: hsl(185, 41%, 84%);
  --Light-grayish-cyan1: hsl(189, 41%, 97%);
  --White: hsl(0, 0%, 100%);
}

/*  */
/* - Font size (form inputs): 24px */

/* general style */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  background-color: var(--Light-grayish-cyan);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-family: "Space Mono", monospace;
}

header {
  margin: 4rem 0;
}

@media screen and (min-width: 600px) {
  .calculator {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2rem;
  }
}

.calculator {
  background-color: var(--White);
  max-width: 100rem;
  padding: 3rem;
  border-radius: 1rem;
}

/* main  */

.main > * + * {
  margin-top: 5rem;
}

.main h4 {
  font-size: 2rem;
  color: var(--Dark-grayish-cyan);
  margin-bottom: 0.5rem;
}

/* main-tip */

.tips {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1rem 1rem;
}

.tips .btn {
  font-size: 2rem;
  background-color: var(--Very-dark-cyan);
  color: var(--White);
  padding: 1.5rem 0.5rem;
  border: none;
  border-radius: 4px;
  outline: none;
  cursor: pointer;
  transition: all 0.32s ease;
}

.tips .btn:hover {
  background-color: var(--Strong-cyan);
}

.tips .tip-6 {
  text-align: center;
}

.btn.add {
  background-color: var(--Strong-cyan);
}

/* display */
.display {
  background-color: var(--Very-dark-cyan);
  padding: 0 1.5rem;
  padding-top: 4rem;
  border-radius: 1rem;
  position: relative;
}

@media screen and (max-width: 600px) {
  .display {
    margin-top: 4rem;
  }
}

.display-tip,
.display-total {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.tip-text {
  margin-bottom: 4rem;
}

.tip-text h3,
.total-text h3 {
  color: var(--Light-grayish-cyan1);
  font-size: 1.8rem;
}

.tip-text h4,
.total-text h4 {
  color: var(--Dark-grayish-cyan1);
  font-size: 1.3rem;
}

.tip-amount,
.total-amount {
  color: var(--Strong-cyan);
  font-size: clamp(1.8rem, 5vw, 4rem);
  font-weight: 500;
}

.display-total {
  margin-bottom: 5rem;
}

.display .btn-reset {
  color: var(--Very-dark-cyan);
  background-color: var(--Strong-cyan);
  width: 100%;
  font-size: 1.6rem;
  text-transform: uppercase;
  padding: 1rem;
  margin-bottom: 2rem;
  margin-top: 10rem;
  outline: none;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.btn-reset:hover {
  background-color: hsla(172, 67%, 45%, 0.801);
}

/* bill, tip and people inputs */

input[type="number"] {
  text-align: right;
}

input {
  font-size: 2.4rem;
  background-color: var(--Light-grayish-cyan1);
  color: var(--Dark-grayish-cyan1);
  width: 100%;
  padding: 0.85rem;
  outline: none;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

input::placeholder {
  color: var(--Dark-grayish-cyan1);
}

input:focus {
  border: 2px solid var(--Strong-cyan);
}

.dollor,
.user {
  position: absolute;
  padding: 1.4rem;
}

/* small: show error */
small {
  float: right;
  color: brown;
  font-size: 1.4rem;
  letter-spacing: 1px;
}

.error {
  border: 2px solid brown;
}
